body {
    font-family: 'Arial', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #84b3c3;
    padding: 0 20px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}


.logo h1 {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f1c40f;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #84b3c3;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger.active + .nav-links {
        display: flex;
    }
    
    .burger.active div {
        background-color: #f1c40f; 
    }
    
    .nav-active {
        display: flex;
    }
}

#menu-toggle {
    display: none;
}

/* Style the burger menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #84b3c3;
        width: 100%;
        text-align: center;
    }

    #menu-toggle:checked + .burger + .nav-links {
        display: flex;
    }

    .nav-links li {
        margin: 20px 0;
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.contact-info {
    margin-top: 20px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}